.navbar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #329239;
    padding: 10px 10px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.navbar .logo h1{
    color: gold;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.navbar ul li{
    list-style: none;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 15rem;
}